
---

---
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>
<body>
	<header>
		<div class="header-left">
			<img src="/images/logo-transparent.png" alt="">
			<h4>LOS KOLLINGAS</h4>
		</div>
		<nav class="header-right">
			<ul>
				<li><a href="/">Inicio</a></li>
				<li><a href="/">Comunidad</a></li>
				<li><a href="/">Nuestros clientes</a></li>
			</ul>
		</nav>
	</header>
	<hr>
	<section>
		<div class="section-left">
			<h3>Vive de una manera más saludable y ordenada</h3>
			<p>Nutrición e Innovación en un solo lugar</p>
			<a href="/">Contactanos</a>
		</div>
		<div class="section-right">
			<img src="/images/health.png" alt="fondo principal">
		</div>
	</section>
</body>
</html>
<style>
	*{
		margin: 0%;
		padding: 0%;
		bottom: 0%;
	}
	header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0px 20px;
		background-color: white;
	}
	.header-left{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.header-left img{
		width: 100px;
		height: 52px;
	}
	ul{

	}
	.header-right a{
		text-decoration: none;
	}
	section{
		background-color: #f5f7fa;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		height:92.5vh;
	}
</style>