---
const ExtraInformationCards = [
	{
		id:1,
		info: "En Tu Despenza, creemos que una cocina bien organizada es la clave para una alimentación práctica y saludable. Nuestra app está diseñada para ayudarte a gestionar tu despensa de manera eficiente y brindarte recomendaciones personalizadas para que aproveches al máximo los ingredientes que tienes en casa.",
		image: "/images/img2.webp"
	},
  {
    id:2,
    title: "¿Qué hacemos?",
    info:["Te ayudamos a organizar tu despensa para que siempre sepas qué tienes disponible y evites desperdicios.",
          "Creamos listas inteligentes para que puedas hacer compras más eficientes.",
          "Generamos recetas personalizadas en nuestro plan premium, recomendándote opciones ideales según tu estilo de vida y necesidades nutricionales.",
          "Calculamos el valor nutricional de cada receta, ayudándote a llevar una alimentación equilibrada."],
    image:"/images/img3.png"
},
	{
		id:3,
    title:"Nuestra Misión",
		info: "Facilitar la vida en la cocina a través de la tecnología, ayudando a las personas a planificar mejor su alimentación, reducir desperdicios y disfrutar de una cocina más organizada y saludable.",
		image: "/images/img-principal.jpg"
	},
]

import Footerr from "../components/footerr.astro";
import Headerr from "../components/headerr.astro";
---
<html lang="es">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>
<body>
    <Headerr/>
    <section class="section-top">
      <div class="toop">
        <h2>
          Tu Despensa
        </h2>
      </div>
      <h3>
				Cocina sin desperdicios, come con inteligencia.
			</h3>
			{
				ExtraInformationCards.map((desp)=>(
				<div class={`info info${desp.id}`}>
					<img src={desp.image} alt="Imagen del Proyecto">
                    <div class="info-card">
                        <h3>{desp.title}</h3>
                        <p>
                            {desp.info}
                        </p>
                    </div>
				</div>
				))
			}
    </section>
<section class="download-section">
  <div class="container">
    <div class="phone-container">
      <div class="phone">
        <div class="app-icon">
          <img src="/images/pantry.png" alt="Logo">
        </div>
        <p class="app-text">Tu despenza</p>
      </div>
    </div>
    <div class="content">
      <h2 class="title">Descarga nuestra aplicación</h2>
      <p class="description">
        Descubre cómo nuestra tecnología mejora tu vida saludable. Descarga ahora y empieza tu viaje hacia un bienestar óptimo.
      </p>
      <div class="qr-code">
        <img src="/images/pantry.png" alt="Código QR" />
      </div>
      <div class="buttons">
        <a href="https://mega.nz/file/7CAiVC7Z#MdhqkwJhTLzHOW5WFgqDu72DnsyDcbcUEL04ML7-YMI" target="_blank" class="app-store">Descargar en Mega</a>
        <a href="https://frontend-production-29e6.up.railway.app/" target="_blank" class="google-play">Visitar Nuestro sitio web</a>
      </div>
    </div>
  </div>
</section>
<Footerr/>
</body>
</html>
<style>
  body{
    background-color: #E5E7EB;
  }
  .section-top{
    margin-top: 5.5rem;
    width: 100%;
  }
  .section-top h3{
    text-align: center;
    margin: 0rem 1rem;
  }
  .info{
    display: flex;
    flex-direction:  column;
    margin: 3rem 2rem;
  }
  .info{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .info img{
    border-radius: .5rem;
  }
  .download-section {
    margin-bottom: 5rem;
    background-color: #E5E7EB;
    padding: 4rem 1rem;
    text-align: center;
    height: 50vh;
    place-items: center;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .phone-container {
    position: relative;
    flex: 1;
    min-width: 200px;
  }

  .phone {
    width: 200px;
    height: 400px;
    background: #FFFFFF;
    border: 8px solid #1C2526;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }

  .app-icon img {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  }

  .app-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: #1C2526;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    font-family: "Myriad" sans-serif;
  }

  .content {
    flex: 2;
    min-width: 250px;
  }

  .title {
    color: #1C2526; 
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    font-family: "Myriad Pro" sans-serif;
  }

  .description {
    color: #4B5563; 
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .qr-code {
    margin-bottom: 1.5rem;
  }

  .qr-code img {
    width: 100px;
    height: 100px;
  }

  .buttons a {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    margin: 0.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FF5733; 
    transition: background-color 0.3s;
  }

  .buttons a:hover {
    background-color: #FF8C42; 
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .title {
      font-size: 2rem;
    }

    .phone {
      width: 150px;
      height: 300px;
    }

    .app-icon {
      width: 60px;
      height: 60px;
    }

    .app-text {
      font-size: 0.9rem;
    }

    .description {
      font-size: 0.9rem;
    }

    .qr-code img {
      width: 80px;
      height: 80px;
    }

    .buttons a {
      padding: 0.6rem 1rem;
      font-size: 0.9rem;
    }
  }

  @media (max-width: 480px) {
    .download-section{
      margin-top: 1rem;
      height: 90vh;
    }
    .title {
      font-size: 1.5rem;
    }

    .phone {
      width: 120px;
      height: 240px;
    }

    .app-icon img{
      width: 50px;
      height: 50px;
    }

    .app-text {
      font-size: 0.8rem;
    }

    .description {
      font-size: 0.85rem;
    }

    .buttons a {
      display: block;
      width: 80%;
      margin: 0.5rem auto;
    }
  }
  @media (min-width:1024px){
    .info{
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .info2{
      flex-direction: row-reverse;
    }
    .info p{
      max-width: 30rem;
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
    .info h3{
      font-size: 2rem;
    }
    .info img{
      width: 24rem;
      height: 27rem;
    }
    .info3 img{
      height: 20rem;
    }
  }
  @media(min-width:1440px){
    .toop{
      background-image: url('/images/img-principal.jpg');
      text-align: center;
      height: 12rem;
      display: grid;
      place-content: center;
    }
    .toop h2{
      font-size: 4rem;
      font-family: "Myriad Pro", sans-serif;
    }
    .info{
      justify-content: space-evenly;
    }
    .info p{
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
    .section-top h3{
      margin-top: 3rem;
      font-size: 3rem;
      font-family: "Myriad Pro",sans-serif;
    }
  }
</style>
